/* ===== Reset ===== */
*{margin:0;padding:0;border:0;-webkit-appearance:none;}

/* ===== Base Typography ===== */
body, input{
	font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;
}
		
/* ===== General Layout, Backgrounds, Borders and Colours ===== */
body{
	background: url('img/login-bg.png');
}

#login_form{
	width: 530px;
	margin: 100px auto;
}

h1{
	width: 357px;
	height: 53px;
	margin: 0 auto;
	background: url('img/h1.png');
	text-indent: -999em;
	margin-bottom: 10px;
}

input{
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
	.login-field{
		padding: 8px 10px 3px;
		font-size: 20px;
		width: 195px;
	}
		.password{
			margin: 0 14px;
		}
	.login-submit{
		cursor: pointer;
		margin: 1px 0;
		font-size: 14px;
		line-height: 35px;
		font-weight: bold;
		height: 36px;
		width: 67px;
		color: #354e65;
		text-shadow: 0 1px 0 #fff;
		box-shadow: 0 1px 0 rgba(255,255,255,0.25), inset 0 1px 0 #fff;
		
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 50%, #f0f0f0 51%, #e0e0e0 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f9f9f9), color-stop(51%,#f0f0f0), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 50%,#f0f0f0 51%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 50%,#f0f0f0 51%,#e0e0e0 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 50%,#f0f0f0 51%,#e0e0e0 100%); /* IE10+ */
		background: linear-gradient(top, #ffffff 0%,#f9f9f9 50%,#f0f0f0 51%,#e0e0e0 100%); /* W3C */
	}
	.login-submit:active, .login-submit.active{
		background: -moz-linear-gradient(top, #e0e0e0 0%, #f0f0f0 50%, #f9f9f9 51%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(50%,#f0f0f0), color-stop(51%,#f9f9f9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e0e0e0 0%, #f0f0f0 50%, #f9f9f9 51%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e0e0e0 0%, #f0f0f0 50%, #f9f9f9 51%, #ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e0e0e0 0%, #f0f0f0 50%, #f9f9f9 51%, #ffffff 100%); /* IE10+ */
		background: linear-gradient(top, #e0e0e0 0%, #f0f0f0 50%, #f9f9f9 51%, #ffffff 100%); /* W3C */
	}

form p{
	float: left;
	margin-top: 10px;
}

.forgot-link{
	font-size: 13px;
	width: 445px;
	text-align: right;
}
	.forgot-link a{
		color: #d8d8d8;
		text-decoration: none;
		text-shadow: 0 -1px 0 #000;
	}

/* ===== Header ===== */

/* ===== Sidebar ===== */

/* ===== Content ===== */

/* ===== jQuery & Miscellaneous ===== */