<!DOCTYPE html>
<html>
<head>
    <title>Logged In</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="login.css"/>
</head>
<body class="login">

<form action="loggedin.html" id="login_form">
    <h1>Sleek Admin</h1>

    <p><input type="text" class="login-field text" name="username" placeholder="Username"/></p>

    <p><input type="password" class="login-field password" name="username" placeholder="Password"/></p>

    <p><input type="submit" class="login-submit" value="Log in"/></p>

    <p class="forgot-link"><a href="">Click Log in to enter demo.</a></p>
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="markitup/jquery.markitup.js"></script>
<script src="tablesorter/jquery.tablesorter.min.js"></script>
<script src="js/functions.js"></script>
</body>
</html>